body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    color: white;
    font-weight: 700;
    /*background-color: #1ed760;*/
}
#menu {
    margin: 0;
    background-color:black ; 
    position:fixed;
    height: 100%;
    transition: all .2s linear;
    left: -300px;

    /*top: -70px;*/
}

#menu nav ul{
    list-style-type: none;
    margin: 1vw 0vw;
    padding: 1.5vw;
    margin-right: auto;
}
#menu nav ul li{
    border-bottom: solid gray 1px;
    padding: 2vw 0vw;
}
#menu nav ul li a{
    text-decoration: none;
    color: white;
}
#iconMenu{
    height: 4.5vw;
    width: 4.5vw;
    margin: 0.1vw;
    z-index: 1;

}

#btnMenu{
    height: 4.5vw;
    width: 4.5vw;
    margin: 1vw;
    border:none; 
    background-color: none;
    outline: unset;
}

#menu.open{

    transform: translateX(300px);    
}
#btnMenu.open>svg>path{

    fill: white;
}

#icone{
    cursor:pointer;
    position: absolute;
    z-index: 1;
}


/*
#menu:hover  {
    top: 1px;
}
*/

#menu a:hover{
    color: #1ed760;
}

#Hora{
    margin-top: 70px;;
}
section{
    height: auto;
    width: auto;
    border:solid #1ed760 1px;
    
}
