body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 110%;
    color: white;
    font-weight: 700;
    /*background-color: #1ed760;*/
}
section{
    height: auto;
    width: auto;
    border:solid #1ed760 1px;
    
}

#menu a:hover{
    color: #1ed760;
}

.exclude{
    display: none;
}

@media (max-width:600px){
    .notDesktop{
        
        left: -3000000vw;
    }
    #iconMenu {
        height: 12vw;
        width: 12vw;
        margin: 0;
        padding: 0;
        left: -1.5vw;
        position: relative;
        z-index: 1;
    }
    #menu {
        margin: 0;
        background-color:black ; 
        position:fixed;
        height: 100%;
        transition: all .2s linear;
        left: -400px;
    
        /*top: -70px;*/
    }
    
    #btnMenu{
        height: 12vw;
        width: 12vw;
        position: absolute;
        border:none; 
        border-radius: 50%;
        background-color: none;
        outline: unset;
        display: block;
    
    }
    #Hora{
        margin-top: 70px;
    }
    #menu.open{
        transform: translateX(400px);    
    }   
    #menu nav ul{
        list-style-type: none;
        margin: 20vw 0vw;
        padding: 12vw 12vw;
        margin-right: auto;
    }
    #menu nav ul li{
        border-bottom: solid gray 1px;
        padding: 8vw  0vw;
    
    }
    #menu nav ul li a{
        text-decoration: none;
        color: white;
    }
}



@media (min-width:601px) {
    .notMobile{
        display: none;
        
    }
    img#icon{
        src:none;
    }
    #menu {
        margin: 0;
        background-color:black; 
        width: 100%;
        z-index: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        /*top: -70px;*/
    }
    
    #icon{
        width: 50px;
        height: 55px;
        margin: 1vw;
    }
    #menu p{
        display:block;
        align-self: center;
        font-family: 'Source Code Pro', monospace;
        font-size: 115%;
        margin-left: 2vw;
    }
    .green{
        font-weight: bolder;
        color: #1ed760;
        font-size:140%;
    }
    #menu nav{
        display: block;
        margin-left: auto;
    }

    #menu nav ul{
        list-style-type: none;
        margin:0 ;
        padding: 2vw 0vw 2vw 2vw ;
        align-self: auto;
        line-height: 1;
        
    }
    #menu nav ul li{
        padding: 0 1vw;
        display: inline;
        border-right: solid white 1px;
        
    }
    #menu nav ul li a{
        text-decoration: none;
        color: white;
    }
    
    /*
    #menu:hover  {
        top: 1px;
    }
    */
    
    #menu a:hover{
        color: #1ed760;
    }
    
    #Hora{
        margin-top: 70px;
    }
}